@charset "UTF-8";

 body {
    
    line-height: 1.7;
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
a, 
a:link
a:visited {
    color: #111;
    text-decoration: none;
    position: relative;
}
.header_navi_ul a::after,
.footer_navi_ul a::after {
    background-color: #5a5a5a;
    bottom: 2px;
    content: "";
    height: 0.5px;
    left: 0;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
    width: 100%;
}
a:hover::after {
    transform: scale(1, 1);
}
header {
    padding: 50px 0 40px 0;
    margin: 0;
}
.herder_logo {
    width: 100%;
    height: auto;
    overflow: hidden;
}
header a img {
    width: 20%;
    height: auto;
    transition: transform .6s ease;
}
header a:hover img {
    transform: scale(1.1);
}

.maine_visual_01 {
    display: flex;
}
.header_navi {
    text-align: right;
    margin: 0 0 0 auto;
}
.header_navi_ul {
    list-style-type: none;
    justify-content: right;
    padding: 0;
    display: flex;  
}
.header_navi_ul li {
    margin: 0;
    padding: 0 50px;
}
header nav ul li a,
header nav ul li a:link
header nav ul li a:visited {
    color: #111;
    display: block;
    padding: 0;
    text-decoration: none;
}

.name {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}
.name p {
    padding: 0;
    margin: 0;
}
.maine_visual {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat {
    text-align: right;
}
.cat img {
    max-width: 100%;
    width: 30vw;
    height: auto;
    padding: 0 0 0 100px;
}
h2 {
    font-size: 5rem;
    font-weight: lighter;
    text-align: center;
    padding: 0;
    margin: 80px 0 0 0;
}
.section {
    margin: 0 auto;
    padding: 0 40px;
}
.concept {
    margin: 0 70px;
}
.container {
    text-align: center;
}
.container_01 {
    max-width: 100vw;
    width: 100%;
    display: inline-block;
    margin: 0 0 10vw 0;
    overflow: hidden;
}
.container_01 img:nth-child(1n) {
    margin-left: 0;
}
.container_01 img:nth-child(3n) {
    margin-right: 0;
}
.container_01 img {
    width: 18vw;
    height: auto;
    margin: 0;
    padding: 0 20px;
    transition: transform .6s ease;
    width: 25%;
}
.container_01 :hover img {
    transform: scale(1.1);
}
.container_02 {
    max-width: 100vw;
    width: 100%;
    display: inline-block;
    margin: 0;
    overflow: hidden;
}
.container_02 img {
    height: auto;
    transition: transform .6s ease;
    width: 25%;
    margin: 0;
    padding: 0 20px;
}
.container_02 :hover img {
    transform: scale(1.1);
}
.container_02 img:nth-child(1n) {
    margin-left: 0;
}
.container_02 img:nth-child(3n) {
    margin-right: 0;
} 

footer {
    display: flex;
    margin: 0 auto;
}
footer ul {
    list-style-type: none;
    margin: 120px 0 50px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.footer_navi_ul {
    padding: 0;
}
.footer_navi_ul li {
    margin: 0;
    padding: 0 50px;
}
footer nav ul li a,
footer nav ul li a:link
footer nav ul li a:visited {
    color: #111;
    display: flex;
    padding: 0;
    text-decoration: none;
}
.copylight {
    margin: 120px 40px 50px 0;
    margin-left: auto;
}
h3 {
    font-size: 2rem;
    font-weight: lighter;
    padding-left: 50px;
    margin: 0;
}
.mail {
    padding-left: 40px;
    margin-bottom: 100px;
}

/* works */
.workslist {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 220px;
}

.workslist li img {
    max-width: 100vw;
    width: 45%;
    height: auto;
}
.workslist li p {
    text-align: left;
    margin: 0 0 80px 0;
    line-height: 27px;
}
a.anchor01 {
    display: block;
    margin-top: -100px;
    padding-top: 100px;
}
a.anchor {
    display: block;
    margin-top: -130px;
    padding-top: 130px;
}
.pagenavi {
    margin: 0 0 0 220px;
    text-align: left;
}
.current {
    font-weight: bold;
    text-decoration: underline;
}
.pagenavi a, .pagenavi span {
    padding: 4px 5px;
}

/* aout */
.about {
    display: flex;
}
.about img {
    width: 20%;
}
.prf {
    margin: 0 0 0 100px;
    width: 100%;
}
.prf dl {
    display: flex;
    flex-wrap: wrap;
}
.prf dt {
    width: 20%;
    margin-bottom: 10px;
}
.prf dd {
    width: 70%;
    margin-bottom: 10px;
}

    
@media screen and (max-width:767px) {
    body {
        font-size: 14px;
    }
    
    header {
        padding: 0;
        margin: 20px 0;
        display: block;
    }
    header a img {
        width: 25%;
        padding: 0 0 10px 20px;
    }
    nav {
        padding: 14px 0;
        border-top: 1px solid #7e7e7e;
        border-bottom: 1px solid #7e7e7e;
    }
    .header_navi_ul {
       margin: 0;
       justify-content: center;
    }
    .header_navi_ul li {
        margin: 0;
        padding: 0 30px;
    }
    .name {
        font-size: 30px;
        line-height: 1.2;
        padding: 0 0 15px 0;
    }
    .maine_visual {
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0 35px
    }
    .cat {
        text-align: center;
    }
    .cat img {
        max-width: 100%;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .concept {
        margin: 0 20px;
    }
    h2 {
        font-size: 3rem;
        font-weight: lighter;
        text-align: center;
        padding: 0;
        margin: 80px 0 0 0;
    }
    .container_01 {
        max-width: 100vw;
        width: 100%;
        display: block;
        margin: 0;
        overflow: hidden;
    }
    .container_01 img {
        width: 18vw;
        height: auto;
        margin: 20px 0;
        padding: 0;
        transition: transform .6s ease;
        width: 65%;
    }
    .container_02 img {
        height: auto;
        transition: transform .6s ease;
        width: 65%;
        margin: 20px 0;
        padding: 0;
    }

/* works */
    .workslist {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0 60px;
    }
    .workslist li img {
        max-width: 100vw;
        width: 100%;
    }
    .pagenavi {
        margin: 50px 0 0 0;
        padding: 20px;
        text-align: center;
    }
/* about */
    .about {
        display: block;
        margin: 0 40px;
    }
    .about img {
        width: 100%;
    }
    .prf {
        margin: 0;
        width: 100%;
    }
    .prf dl {
        margin: 30px 0 80px 0;
    }
    .prf dt {
        width: 36%;
        margin-bottom: 10px;
    }
    .prf dd {
        width: 58%;
        margin-bottom: 10px;
        margin-left: 10px;
    }

/* footer */
    footer {
        display: block;
        margin: 0 auto;
    }
    footer nav {
        margin: 30px 0 0 0;
    }
    footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .footer_navi_ul li {
        margin: 0;
        padding: 0 30px;
    }
    .copylight {
        margin: 30px 0;
        text-align: center;
    }
    .mail img{
        width: 20%;
    }



}


@media screen and (min-width:768px) and (max-width:960px) {
    header {
        margin: 0 24px;
    }
    
/* work */
    .workslist {
        margin: 0 100px;
    }

/* about */
    .about {
        margin: 0 100px;
    }
    .prf {
        margin: 0 0 0 50px;
        width: 100%;
    }
    .prf dl {
        display: flex;
        flex-wrap: wrap;
    }
    .prf dt {
        width: 20%;
        margin-bottom: 10px;
    }
    .prf dd {
        width: 70%;
        margin-bottom: 10px;
    }
/* pagenavi */
    .pagenavi {
        margin: 0 0 0 100px;
    }
    .mail img{
        width: 10%;
    } 
}

@media screen and (min-width:961px) {
    .section {
        width: 960px;
        margin: 0 auto;
    }
    .about {
        width: 960px;
        margin: 0 auto;
    }
    header,
    footer,
    .contact {
        width: 960px;
        margin: 0 auto;
    }
    }
